.myself {
  /* display: flex; */
  width: 30%;
  height: 20%;
  /* scale: 60%; */
  /* padding: 1px 1px 1px 1px; */
  justify-content: center;
  /* align-items: center; */
}

p {
  font-size: large;
}

.factList {
  /* display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; */
  font-size: large;
  text-align: left;
  /* list-style: disc; */
}

.factList li {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
