---
import GoHome from "../components/GoHome.astro";
import "../styles/global.css";
import "../styles/about.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <div class="mainBox">
        <GoHome></GoHome>
      <h1>About Me</h1>
      <img src="../public/everest-1.jpeg" alt="" srcset="" class="myself" />
      <p>Xin chào! My name is Everest and I'm a Vietnamese living in Sydney.</p>

      <div class="infoBlock">
        <h2>The Basics</h2>
        <ul class="factList">
          <li>
            I'm a computing student at Macquarie University. I'm almost there -
            and probably will go somewhere after graduation. Australia is my target, though.
          </li>
          <li>
            You gotta guess where I live. There are only a select few options,
            but can you get that right?
          </li>
          <li>Do you think I'm actually from Vietnam?</li>
          <li>I also have a beautiful partner who loves pretty stuff - check her out if that's your thing!</li>
        </ul>
      </div>

      <div class="infoBlock">
        <h2>Me and the Chips</h2>
        <ul class="factList">
          <li>
            I'm more interested in the hardware side of computing - it's just so
            beautiful to see a piece of hardware work perfectly with software
            and with each other.
          </li>
          <li>
            I built a PC, and I want to build another one for my partner!
          </li>
          <li>
            I'm also a sucker for smartphones, and I want to collect a lot of them! (I need money please give me some)
          </li>
        </ul>
      </div>

      <div class="infoBlock">
        <h2>Me and the Bytes</h2>
        <ul class="factList">
          <li>
            Python and JS are usually my go to - these are the languages I
            started with and I still enjoy coding on them to this day!
          </li>
          <li>
            I get annihilated by Java in university every class, and I don't
            like it too much - maybe that will change when I pick up on some of
            the third year classes...
          </li>
          <li>
            I have always wanted to make a game one day, so I'm planning to pick
            up on some C# (hopefully this year)
          </li>
        </ul>
      </div>

      <div class="infoBlock">
        <h2>Other Business</h2>
        <ul class="factList">
          <li>
            I design Sydney transport merch for Makku Market! Check us out!
          </li>
          <li>
            I'm also helping my uncle out with his poultry supply chain. It's pretty daunting, and it's not the best, but I grew fond of it (somehow)
          </li>
          <li>
            Free time is coding time (and sometimes gaming time) - you can tell already
          </li>
        </ul>
      </div>

      <div class="infoBlock">
        <h2>Other Other Business</h2>
        <ul class="factList">
          <li>
            I like gaming. Like, a lot. At least used to. I just couldn't find the time and energy to play.
          </li>
          <li>
            What's taking more of my time is my burning "hatred" for the Sydney transport system - it's very cool, but the delays infuriate me so much I just want to jsjshdILGSIAYGDUKAYGSDA
          </li>
          <li>
            I have an unhealthy obsession with Cities: Skylines. I clocked 500 hours already, and probably more.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
