---
import '../styles/mainNavigation.css';
---
<li class="navContainer">
    <!-- <ul><a href="/"><button>Home</button></a></ul> -->
    <ul><a href="/about/"><button id="aboutMe" class="transition-quick">About Me</button></a></ul>
    <ul><a href="/blog/main"><button class="transition-quick">Posts</button></a></ul>
    <ul><a><button class="transition-quick">Babies</button></a></ul>
    <ul><a href=""><button class="transition-quick">Utilities</button></a></ul>
    <ul><a><button class="socialMedia transition-quick" id="instagram">Instagram</button></a></ul>
    <ul><a><button class="socialMedia transition-quick" id="github">GitHub</button></a></ul>
</li>
